* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container {
  padding:20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap:15px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.card-img {
  padding-top: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

